# This is Git's per-user configuration file.
[user]
	name = Emil VATAI
	email = emil.vatai@gmail.com
[init]
	defaultBranch = main
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[github]
	user = vatai
[alias]
	root = rev-parse --show-toplevel
